.block {
  display: inline-flex;
  width: var(--icon-size-md);
  height: var(--icon-side-md);
}

.sm {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

.lg {
  width: var(--icon-size-lg);
  height: var(--icon-size-lg);
}

.xl {
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
}

.primary {
  color: var(--color-primary);
}

.dark {
  color: var(--color-dark);
}

.success {
  color: var(--color-success);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(270deg);
}

.block svg {
  width: 100%;
  height: 100%;
}
